.cartelas {
  display: flex;
  justify-content: space-between;
  margin-top: 4.5vw;
}

.table-container {
  text-align: center;
}

.table-container h1 {
  color: #5b5151;
}

.table-container h1 {
  background-color: #a2d5ab;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
}

.table-container table {
  background-color: #557b83;
  padding: 0.5vw;
  width: 20px;
  border-bottom-left-radius: 10px;
  border-bottom-right-radius: 10px;
}

.table-container td {
  text-align: center;
  padding: 1.55vw;
  border: solid rgb(255, 255, 255) 2px;
  border-radius: 5px;
}
