#espaco-cartelas {
  margin-top: 2vw;
  display: flex;
}


th,
tr,
td {
  width: 2vw;
  height: 2vw;
  padding: 0.6vw;
  border: solid white 0.1vw;
  text-align: center;
  font-weight: bolder;
  font-size: larger;
}



th {
  background-color: #436f6c;
}

table {
  margin-left: 1.3vw;
}


#numeros-sorteados {
  padding: 1vw;
  display: flex;
  flex-wrap: wrap;
}

#numeros-sorteados span {
  width: 2vw;
  height: 2vw;
  padding: 0.4vw;
  border: solid white 0.2vw;
  text-align: center;
  font-size: larger;
  font-weight: bolder;
  margin: 0.2vw;
}

.numero-marcado {
  color: #ffcc00;

}